@model IEnumerable<peakmotion.ViewModels.UserVM>

@{ ViewData["Title"] = "Employees";}
<h1 class="mb-4">Employees</h1>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-info">@ViewBag.Message</div>
}

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().FullName)</th>
            <th>@Html.DisplayNameFor(model => model.First().Email)</th>
            <th>@Html.DisplayNameFor(model => model.First().RoleName)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>
                    <select asp-for="@user.RoleName" 
                            asp-items="ViewBag.RoleSelectList" 
                            class="form-select">
                        <option value="">Select Role</option>
                    </select>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@user.Email">Delete</a>
                </td>
                </tr>
        }
    </tbody>
</table>
