@model IEnumerable<peakmotion.ViewModels.ProductVM>

@{
    ViewData["Title"] = "Products";
}

<main class="">
    <h1>Product List</h1>
    <p>
        @* <a asp-action="Create">Create New</a> *@
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DiscountLabel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Categories)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsFeatured)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsMembershipProduct)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    @if (item.DiscountLabel != null) {
                        <td>
                            <p class="list-item-tag">
                            @Html.DisplayFor(modelItem => item.DiscountLabel)
                            </p>
                        </td>
                    } else { <td></td>}
                    @{
                        var featuredLabel = item.IsFeatured ? "Featured" : "No";
                        var memberLabel = item.IsMembershipProduct ? "Membership" : "Any";
                    }
                    <td>
                        <div class="category-col">
                        @foreach (var cat in item.Categories)
                        {
                            <p class="list-item-tag">@cat.Categoryname</p>
                        }
                        </div>
                    </td>
                    <td>
                        <p class="list-item-tag">@featuredLabel</p>
                    </td>
                    <td>
                        <p class="list-item-tag">@memberLabel</p>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>


@{ var messageText = string.Empty;
    var alertClass = string.Empty;

    if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        string message = ViewBag.Message.ToString();
        string[] messageParts = message.Split(',');

        var messageType = messageParts[0];
        messageText = messageParts.Length > 1 ? messageParts[1] : string.Empty;

        switch (messageType)
        {
            case "success": alertClass = "alert alert-success"; break;
            case "warning": alertClass = "alert alert-warning"; break;
            case "error": alertClass = "alert alert-danger"; break;
        }
    }
}
<br /><div class="@alertClass">@messageText</div>

<style>
    .category-col {
        display: flex;
        gap: 0.25rem;
        flex-wrap: wrap;
    }
    .list-item-tag { 
        border: 1px solid black;
        border-radius: 0.25rem;
        padding: 0.25rem 0.75rem;
        background-color: #FFF4F2;
        margin-bottom: 0;
        font-size: 0.7rem;
        font-weight: 500;
        width: min-content;
        line-clamp: 1;
        text-overflow: ellipsis; 
        overflow: hidden; 
        white-space: nowrap;
    }
</style>