@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    @* Use session flag + checks *@
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var onAdmin = currentController == "Admin";
    var currentPage = ViewContext.RouteData.Values["action"]?.ToString();

    var user = await UserManager.GetUserAsync(User);
    var roleStr = "";
    if (user != null)
    {
        var roles = await UserManager.GetRolesAsync(user);
        roleStr = string.Join(", ", @roles);
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - peakmotion</title>
    <script type="importmap"></script>

    <link rel="preload" href="https://fonts.googleapis.com">
    <link rel="preload" href="https://fonts.gstatic.com" crossorigin>
    <link as="font"
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/peakmotion.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/peakmotion.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="preload" href="https://fonts.googleapis.com/icon?family=Material+Icons" as="style"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" crossorigin="anonymous">

</head>

<body>
    <header>
        <nav
            class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark @(onAdmin ? "bg-dark" : "navbar-brand-customer")">
            <div class="container-fluid gap-4">
                <h1 class="fs-2"><a class="navbar-brand m-r-4" asp-area="" asp-controller="Home"
                        asp-action="Index">peakmotion</a></h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <partial name="_LoginPartial" />

                </div>
            </div>
        </nav>
    </header>

    @* Content *@
    <div class="container-fluid p-0">
        @if (SignInManager.IsSignedIn(User) && @onAdmin == true && (User.IsInRole("Admin") ||
        User.IsInRole("Employee")))
        {
            @* Admin Content with Sidebar *@
            <div class="d-flex flex-col mx-7 my-5 gap-4">
                <section class="sidebar-admin d-flex flex-column gap-4 mb-4 w-25">
                    <div class="sidebar-profile d-flex gap-2 align-items-center flex-wrap justify-content-center">
                        <img src="~/images/profile.svg" alt="Profile Image" width="100" height="100">
                        <div class="">
                            <p class="">@user?.UserName</p>
                            <p class="text-muted">@roleStr</p>
                        </div>
                    </div>
                    <div class="sidebar-buttons d-flex flex-column gap-2">
                        <a class="w-100 btn @(currentPage=="Index" ? "btn-dark" : "btn-outline-dark")" asp-area=""
                            asp-controller="Admin" asp-action="Index">
                            Dashboard
                        </a>
                        @* @if (User.IsInRole("Admin")) 
                        { *@
                        <a class="w-100 btn @(currentPage=="Employees" ? "btn-dark" : "btn-outline-dark")" asp-area=""
                            asp-controller="Admin" asp-action="Employees">
                            Employees
                        </a>
                        @* }
                        @if (User.IsInRole("Employee")) 
                        { *@
                        <a class="w-100 btn @(currentPage=="Products" ? "btn-dark" : "btn-outline-dark")" asp-area=""
                            asp-controller="Admin" asp-action="Products">
                            Products
                        </a>
                        <a class="w-100 btn @(currentPage=="Orders" ? "btn-dark" : "btn-outline-dark")" asp-area=""
                            asp-controller="Order" asp-action="Index">
                            Orders
                        </a>
                        @* } *@
                    </div>
                </section>
                <main role="main" class="container pb-3">
                    @RenderBody()
                </main>
            </div>
        }
        else
        {
            @* Customer Content *@
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        }


    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - peakmotion - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/search.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
