@model peakmotion.ViewModels.ShippingVM

@{
    var products = (List<string>)ViewData["ProductData"]; 
}
 
 <div class="shippingOrderSummary">
    <section>
        <form class="shipping-form" action="/shipping" method="POST">
            <H3>Contact</H3>  
            <div class="form-group d-flex flex-column mb-3">
                <label for="email">Email Address</label>
                @* <input type="email" id="email" name="email" placeholder="Enter your email address"> *@
                @Html.TextBoxFor(m => m.EmailAddress, new { @id = "email", @placeholder = "Enter your email address", @class = "form-control" })
            </div>
            <div class="pt-2">
                <h3>Shipping Address</h3>
                <div id="name">
                    <div class="form-group d-flex flex-column mb-3">
                        <label for="firstname">First Name</label>
                        @* <input type="text" id="firstname" name="firstname" placeholder="Enter your first name"> *@
                         @Html.TextBoxFor(m => m.FirstName, new { @id = "firstname", @placeholder = "Enter your first name", @class = "form-control" })
                    </div>
                    <div class="form-group d-flex flex-column mb-3">
                        <label for="lastname">Last Name</label>
                        @* <input type="text" id="lastname" name="firstname" placeholder="Enter your last name"> *@
                        @Html.TextBoxFor(m => m.LastName, new {@id = "lastname", @placeholder = "Enter your last name", @class = "form-control"} )
                    </div>
                </div>
            
                <div class="form-group d-flex flex-column mb-3">
                    <label for="phone">Phone Number</label>
                    @* <input type="text" id="phone" name="phone" placeholder=""> *@
                     @Html.TextBoxFor(m => m.PhoneNumber, new { @id = "phone", @placeholder = "", @class = "form-control" })
                </div>
                <div class="form-group d-flex flex-column mb-3">
                    <label for="address">Address</label>
                    @* <input type="text" id="address" name="address" placeholder=""> *@
                     @Html.TextBoxFor(m => m.Address, new { @id = "address", @placeholder = "", @class = "form-control" })
                </div>
                <div id="addressDetail">
                    <div class="form-group d-flex flex-column mb-3">
                        <label for="apptunit">Appt/Unit</label>
                        @* <input type="text" id="apptunit" name="apptunit" placeholder=""> *@
                         @Html.TextBoxFor(m => m.ApptUnit, new { @id = "apptunit", @placeholder = "", @class = "form-control" })
                    </div>
                    <div class="form-group d-flex flex-column mb-3">
                        <label for="city">City</label>
                        @* <input type="text" id="city" name="city" placeholder=""> *@
                         @Html.TextBoxFor(m => m.City, new { @id = "city", @placeholder = "", @class = "form-control" })
                    </div>
                </div>
                <div id="provincePoscode">
                    <div class="form-group d-flex flex-column mb-3">
                        <label for="province">Province</label>
                        @* <input type="text" id="province" name="province" placeholder=""> *@
                         @Html.TextBoxFor(m => m.Province, new { @id = "province", @placeholder = "", @class = "form-control" })
                    </div>
                    <div class="form-group d-flex flex-column mb-3">
                        <label for="postalcode">Postal Code</label>
                        @* <input type="text" id="postalcode" name="postalcode" placeholder=""> *@
                         @Html.TextBoxFor(m => m.PostalCode, new { @id = "postalcode", @placeholder = "", @class = "form-control" })
                    </div>
                </div>
                
            
            </div>

        </form>
        <div class="mb-3 mt-3">
            <h3>PAYMENT</h3>
            <h6>How to Pay</h6>
            <ol>
                <li>Click the 'PAYMENT With PayPal' button below</li>
                <li>You will be redirected to the PayPal website. </li>
                <li>Log in to your PayPal account (or create one if you don’t have one yet).</li>
                <li>Choose your preferred payment method (PayPal balance, linked bank account, or credit card).</li>
                <li>Complete the payment and return to our website to finalize your order.</li>
            </ol>
            <p>
                Your payment is secure with PayPal’s trusted encryption methods.
                <br>We never store your payment information.
            </p>
            <p>If you have any issues or questions, feel free to contact us at [support email].</p>
        </div>  
    </section>
    

    <section>
        <h4>ORDER SUMMARY</h4>
        @foreach (var product in products){
            
            <div>@product</div>
        }
        <br>
        <div id="giftApply">
            <div class="d-flex flex-column mb-3">
                <label for="code">Gift Card/Discount Code</label>
                <input type="text" id="code" name="code" placeholder="Code">
            </div>
            <button id="apply">APPLY</button>
        </div>
        <hr style="border: 1px solid #ccc; margin: 20px 0;">
        <div class="d-flex flex-column mb-3">
            <p>Subtotal</p>
            <p>Shipping</p>
            <p>Tax</p>
        </div>
        <hr style="border: 1px solid #ccc; margin: 20px 0;">
        <div><h1>Total</h1></div>
    </section>
 </div>
