@model NavbarVM
@using Microsoft.AspNetCore.Identity
@using peakmotion.ViewModels;
@inject SignInManager<IdentityUser> SignInManager

    @if (SignInManager.IsSignedIn(User) && @Model.OnAdminPortal == true && (User.IsInRole("Admin") ||
    User.IsInRole("Employee")))
    {
    @* Admin Content with Sidebar *@
    <aside class="col-auto bg-light col-sidebar" style="min-height:100vh;">
        <div class="d-flex flex-column gap-3 p-3" style="width: 250px;">
            <div class="text-center">
                <img src="~/images/profile_solid_black.svg" alt="Profile Image" width="64" height="64" class="mb-2" />
                <p class="fw-bold m-0">@User.Identity?.Name</p>
                <p class="text-muted m-0">@Model.RoleName</p>
            </div>
            <hr />
            <div class="sidebar-buttons d-flex flex-column gap-2">
                <a class='w-100 btn @(Model.Page=="Index" ? "btn-dark" : "btn-outline-dark")' asp-area=""
                    asp-controller="Admin" asp-action="Index">
                    Dashboard
                </a>
                @* @if (User.IsInRole("Admin"))
                { *@
                <a class='w-100 btn @(Model.Page=="Employees" ? "btn-dark" : "btn-outline-dark")' asp-area=""
                    asp-controller="Admin" asp-action="Employees">
                    Users
                </a>
                @* }
                @if (User.IsInRole("Employee"))
                { *@
                <a class='w-100 btn @(Model.Page=="Products" ? "btn-dark" : "btn-outline-dark")' asp-area=""
                    asp-controller="Admin" asp-action="Products">
                    Products
                </a>
                <a class='w-100 btn @(Model.Page=="Orders" ? "btn-dark" : "btn-outline-dark")' asp-area=""
                    asp-controller="Admin" asp-action="Orders">
                    Orders
                </a>
                @* } *@
            </div>
        </div>
    </aside>
    }