@* @model peakmotion.ViewModels.OrderVM
@{
    ViewData["Title"] = "Delete";
}
<h1>Are You sure You want to delete this order</h1>
<div>
    <p>Order ID : @Model.Pkorderid</p>
    <p>Order Date : @Model.OrderDate</p>
    <p>Total : @Model.OrderProducts.Sum(op => op.Unitprice * op.Qty</p>
    <p>Shipping Status : @Model.OrderStatuses.LastOrDefault()?.Orderstate ?? "Unknown"</p>
</div>
<form method="post" asp-action="DeleteConfirmed">
    <button type="submit">Delete</button>
    <a href="@Url.Action("Index","Order")">Cancel</a>
</form> *@