@model peakmotion.ViewModels.OrderVM


    @{
    ViewData["Title"] = "Order details";
    }

    <div class="container-fluid">
        <div class="row">
            <!-- Left side: side nav -->
            <div class="col-auto bg-light ps-4 pe-3 pt-3" style="min-height:100vh;">
                @Html.Partial("_SideNavProfile")
            </div>
            <div class="col pt-3 mt-1">
                <div class="p-4">
                    <div>
                        <h2 class="mb-4">ORDER HISTORY</h2>
                        <p>Your order number is @Model.OrderId <br> This order was placed on<br>@Model.OrderDate</p>
                    </div>
                    <div>
                        <h3>ORDER SUMMARY</h3>
  
                        <div>
                            <img src="" alt="">
                            <div>
                             @foreach (var item in Model.OrderProducts)  {
                                <div>
                                    <div>
                                        <label for="name">Product Name</label>
                                        <div>@item.ProductName</div> 
                                    </div>
                                    <div>
                                        <p>QTY @item.Quantity</p>
                                    </div>
                                    <div>
                                        <p>CAD @item.Unitprice</p>
                                    </div>
                                </div>
                             }
                             @foreach (var item in Model.orderStatuses)  {
                                <div>
                                    <label for="shipped"></label>
                                    <div>@item.Status</div>
                                </div>
                             }
                            

                             </div>
                            
                        </div>
                        
                         <div class="subtotal">
                                <div>
                                    <label for="subtotal">Subtotal</label>
                                    <div>@Model</div>
                                </div>
                                <div>
                                    <label for="shipping">Shipping</label>
                                    <div>@Model</div>
                                </div>
                                <div>
                                    <label for="total">Total</label>
                                    <div>@Model.Total</div>
                                </div>

                        </div>
                        <div class="deliver">
                            @foreach (var item in Model.Pmuser)  {
                                <div class="deliverMethod">
                                    <div>
                                        <label for="name">Name</label>
                                        <div>@item.Firstname @item.Lastname</div>
                                        
                                    </div>
                                    <div>
                                        <label for="address">Address</label>
                                        <div>@item.Address</div>
                                    </div>
                                    <div>
                                        <label for="city">City</label>
                                        <div>@item.City</div>
                                    </div>
                                    <div>
                                        <label for="province">Province</label>
                                        <div>@item.Province</div>
                                    </div>
                                    <div>
                                        <label for="postal">Postal Code</label>
                                        <div>@item.Postalcode</div>
                                    </div>
                                    <div>
                                        <label for="phone">Phone</label>
                                        <div>@item.Phone</div>
                                    </div>
                                    <div>
                                        <label for="email">Email</label>
                                        <div>@item.Email</div>
                                    </div>

                                </div>
                                 <div class="billing">
                                        <div>
                                            <label for="name">Name</label>
                                            <div>@item.Firstname @item.Lastname</div>
                                                
                                        </div>
                                        <div>
                                            <label for="address">Address</label>
                                            <div>@item.Address</div>
                                        </div>
                                        <div>
                                            <label for="city">City</label>
                                            <div>@item.City</div>
                                        </div>
                                        <div>
                                            <label for="province">Province</label>
                                            <div>@item.Province</div>
                                        </div>
                                        <div>
                                            <label for="postal">Postal Code</label>
                                            <div>@item.Postalcode</div>
                                        </div>
                                        <div>
                                            <label for="phone">Phone</label>
                                            <div>@item.Phone</div>
                                        </div>
                                        <div>
                                            <label for="email">Email</label>
                                            <div>@item.Email</div>
                                        </div>

                                    </div>
                                
                            }
                            
                           
                        </div>
                            
                           
                        </div>
                    </div>

                    


                    
                </div>
            </div>
        </div>
    </div>