@* @model IEnumerable<peakmotion.ViewModels.OrderCreateVM> *@
@model peakmotion.ViewModels.OrderCreateVM
@{
    ViewData["Title"] = "Edit";
}
<h1>Edit Order</h1>
<form method="post" asp-action="EditConfirmed">
    <div>
        <label for="OrderDate">Order Date</label>
        <input type="date" id="OrderDate" name="Orderdate" value="@Model.OrderDate.ToString("yyyy-MM-dd")" required/>
    </div>
    <div>
        <label for="Fkpmuserid">Customer ID</label>
       <input type="number" id="Fkpmuserid" name="Fkpmuserid" value="@Model.Fkpmuserid" required />
    </div>
       <h3>Order Products</h3>
    @foreach (var product in Model.OrderProducts)
    {
        <div>
            <label for="ProductId">Product ID</label>
            <input type="number" id="ProductId" name="OrderProducts[@product.ProductId].ProductId" value="@product.ProductId" />
            <label for="Quantity">Quantity</label>
            <input type="number" name="OrderProducts[@product.ProductId].Quantity" value="@product.Quantity" />
            <label for="Unitprice">Unit Price</label>
            <input type="number" name="OrderProducts[@product.ProductId].Unitprice" value="@product.Unitprice" />
        </div>
    }
    <button type="submit">Save Changes</button>
</form>