@using System.Globalization
@model peakmotion.ViewModels.CategoriesProductsVM


<div class="product-list-header">
    <div class="product-list-header-overlay px-7">

        @{
        var breadcrumb = @ViewBag.PageTitle;
        var title = @ViewBag.PageTitle;
        if (@ViewBag.PageTitle == "Men" || @ViewBag.PageTitle == "Women") {
        title += "'s Apparel";
        }
        }
        <p>Home / @breadcrumb</p>
        <h2>@title</h2>
    </div>
</div>
<div class="product-list-summary mx-7">
    <div class="product-count-line">
        <!-- <p><span>@Model.Products.Count()</span> results</p> -->
        <div class="sortedby-container">
            <p>Sorted by</p>
            <select id="product-list-sortby" name="sortBy" class="form-select" onchange="onChangeSortBy(this)"
                asp-for="@Model.SortByChoice" asp-items="@Model.SortOptions">
            </select>
        </div>
    </div>
    <div class="product-filter-active">

        <!-- nice to have -->
        <!-- <div class="product-filter-tags">
                <button class="filter-tag" data-filter-name="" data-filter-property="">
                    @Model<span id="">x</span>
                </button>
            </div> -->
        <!-- <button class="filter-clear">Clear All</button> -->

        @if (!string.IsNullOrEmpty(ViewBag.SearchString))
        {
        <div class="">Search: @ViewBag.SearchString
            <a asp-controller="Product" asp-action="Index">X</a>
        </div>
        }
    </div>
</div>
<section class="product-container mx-7">
    <form class="product-filters" id="product-filters-form">
        @foreach (var filterType in Model.Filters)
        {
        <div class="product-filter-group">
            @{
            TextInfo myTI = new CultureInfo("en-US",false).TextInfo;
            string name = myTI.ToTitleCase(filterType.Key);
            }
            <div class="product-filter-key">
                <h5>@name</h5>
                @* todo: toggle *@
                <button id="filter-@name" class="pIcon">
                    <img src="~/images/minus.svg" alt="Condense Filter Options for @name" width="24" height="24" />
                </button>
            </div>
            @foreach (var filterValue in filterType.Value)
            {
            <div class="product-filter-values">
                @{
                string key = filterType.Key;
                string value = filterValue.Categoryname;
                string valueMod = myTI.ToTitleCase(value);
                }
                <input type="checkbox" name="@key:@value" value="@filterValue.Pkcategoryid" />
                <label for="@key:@value">@valueMod</label>
            </div>
            }
        </div>
        }
    </form>


    <section class="product-grid" id="product-list-rerender">
        <!-- For re-rendering the list -->
        @Html.Partial("Product/_ProductList", Model.Products)
    </section>

</section>

<script>




    function onChangeSortBy(e) {
        // filter
        const allSelected = document.querySelectorAll('#product-filters-form input[type="checkbox"]:checked');
        const allSelectedIds = [];
        allSelected.forEach(selected => allSelectedIds.push(Number(selected.value)))
        // sort
        const sortedBy = e.value;
        $.ajax({
            url: '@Url.RouteUrl("FilterSortProductRoute")',
            type: 'GET',
            data: {
                sortedBy: sortedBy,
                numbers: JSON.stringify(allSelectedIds)  // force to string type to detect on backend
            },
            success: function (response) {
                $('#product-list-rerender').html(response);
            },
            error: function (xhr, status, error) {
                console.log(xhr?.responseText);
            }
        });
    }

    function onFilterSelected() {
        // filter
        const allSelected = document.querySelectorAll('#product-filters-form input[type="checkbox"]:checked');
        const allSelectedIds = [];
        allSelected.forEach(selected => allSelectedIds.push(Number(selected.value)))

        // sort
        const sortedBy = document.querySelector('#product-list-sortby')?.value;
        $.ajax({
            url: '@Url.RouteUrl("FilterSortProductRoute")',
            type: 'GET',
            data: {
                sortedBy: sortedBy,
                numbers: JSON.stringify(allSelectedIds)  // force to string type to detect on backend
            },
            success: function (response) {
                $('#product-list-rerender').html(response);  // Update only the items list
            },
            error: function (xhr, status, error) {
                console.log(xhr, status, error);
            }
        });
    }

    function listenForFilter() {
        const checkboxes = document.querySelectorAll('#product-filters-form input[type="checkbox"]');

        // Add an event listener for the 'change' event
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function () {
                // debugging 
                const parts = this.name.split(":");
                const category = parts[0];
                const value = parts[1];
                const categoryId = this.value;
                // console.log(`${category} - ${value} => ${this.checked} ... ${categoryId}`);
                // calling api
                onFilterSelected();
            });
        });

    }

    listenForFilter()

</script>

<style>
    .product-count-line {
        align-items: center;
    }

    p {
        margin: 0;
    }

    .pIcon {
        border: none;
        background-color: transparent;
    }

    .pIcon:hover {
        opacity: 0.8;
    }

    /*
    ==================================================================
    SORTED BY
    ==================================================================
    */

    .sortedby-container {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        margin-bottom: 0.5rem;
        white-space: nowrap;

        p {
            margin: 0;
        }

        form {
            display: flex;
        }

        button {
            padding-right: 0;
        }
    }


    /* 
    ==================================================================
    FILTERS
    ==================================================================
    */

    .filter-clear:hover {
        opacity: 0.5;
    }

    .filter-clear {
        padding: 0.25rem;
        margin-bottom: 0;
        font-size: 0.7rem;
        font-weight: 500;
        line-clamp: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-decoration: underline;
        text-transform: uppercase;
        border: none;
        background-color: transparent;
    }

    .product-filters {
        width: 200px;
    }

    .product-filter-group {
        display: flex;
        flex-direction: column;
        padding-bottom: 1.5rem;
        margin-bottom: 1rem;
        gap: 0.25rem;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
    }

    .product-filter-group:last-of-type {
        border-bottom: none;
    }

    .product-filter-key {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;

        h5 {
            margin-bottom: 0;
            font-weight: 600;
        }
    }

    .product-filter-values {
        display: flex;
        gap: 0.5rem;

        input:hover {
            cursor: pointer;
        }
    }

    .product-filter-active {
        display: flex;
        gap: 1rem;
    }

    /* 
    ==================================================================
    PRODUCT LIST 
    ==================================================================
    */

    .product-list-header {
        width: 100%;
        height: 300px;
        background-image: url("/images/pexels-taryn-elliott-4840243.jpg");
        background-size: 100% auto;
        background-position: 0% 50%;
        overflow: hidden;

        p,
        h2 {
            color: white;
        }
    }

    .product-list-header-overlay {
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .product-list-summary {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1rem 0rem;

        &>div:first-child {
            display: flex;
            justify-content: end;
            gap: 1rem;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        }
    }

    .product-container {
        padding: 1rem 0rem;
        display: flex;
        gap: 1rem;
    }

    .product-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        column-gap: 1rem;
        row-gap: 2rem;
    }
</style>